<h1>Your Workout: <%= @workout.workout_name %></h1>

<p>
  <strong>Workout Name:</strong>
  <%= @workout.workout_name %>
</p>

<p>
  <strong> Date:</strong>
  <%= @workout.date %>
</p>
<p>
  <strong>What you did/accomplished:</strong>
  <%= @workout.whats_done %>

</p>

<p>
  <strong>Notes:</strong>
  <%= @workout.notes %>

</p>

<p>
  <%= link_to 'Edit', edit_workout_path %><br>
  <%= link_to "Back", workouts_path %><br>
  <%= link_to 'Delete', workout_path(@workout),
        method: :delete, data: { confirm: "U Sure?"} %>
</p>



<%= simple_form_for(@workout) do |f| %>
 <%= f.error_notification %>
  <%= f.input :workout_name, label: 'Workout Name/Title:' %>
  <%= f.input :date, label: 'Pick Date:' %>
  <%= f.input :whats_done, as: :text, :input_html => { :cols => 5, :rows => 7 }, label: 'What did you do:' %>
  <%= f.input :notes, as: :text, :input_html => { :cols => 5, :rows => 5 } ,label: 'Notes:' %>
 
  <%= f.button :submit %>
<% end %>





<table>
  <tr>
    <th>Title</th>
    <th>date</th>
    <th>Whats Was Done</th>
    <th>Notes</th>


  </tr>
 
  <% @workouts.each do |workout| %>
    <tr>
      <td><%= workout.workout_name %></td>
      <td><%= workout.date %></td>
      <td><%= workout.whats_done %></td>
      <td><%= workout.notes %></td>
      <td><%= link_to 'Show', workout_path(workout) %></td>
      <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
      <td><%= link_to 'Delete', workout_path(workout),
        method: :delete, data: { confirm: "U Sure?"} %></td>

    </tr>
  <% end %>
</table>

<%= link_to 'New Workout', new_workout_path %>