<div class="container" style="padding-top:20px">
	<div class="row">
    
        <div class="timeline-centered">

        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-success">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#"><%= @workout.workout_name %></a> <span>posted: </span><%= @workout.date.strftime('%m/%d/%Y'); %></h2>
                    
                </div>
            </div>

        </article>


        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-secondary">
                    <i class="entypo-suitcase"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">What you did/accomplished: <%= @workout.whats_done %></a></h2>
                    
                </div>
            </div>

        </article>


        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-info">
                    <i class="entypo-location"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Notes: </a> <span></span></h2>

                    <blockquote><%= @workout.notes%></blockquote>

                   
                </div>
            </div>

        </article>


    
	</div>
	<p>

 		 <%= link_to "Back", workouts_path , class: "btn btn-primary" %><span>
 		 <%= link_to 'Edit', edit_workout_path, class: "btn btn-warning"  %><span>
  		<%= link_to 'Delete', workout_path(@workout),
        method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger"  %>
	</p>
</div>